{{- $isMyself := .IsMyself -}}
{{- $username := .Username -}}

{{- if eq .StateID "LIVE" -}}

	{{- $circleCount := .Circles.Featured.Count -}}
	{{- $isPublic := .IsPublic -}}

	<!-- Page content -->
	<div class="framed page h-card padding-none" 
		script="{{- if .IsMyself -}}
			on load take .selected from .nav-item for #nav-outbox
		{{- else -}}
			on load remove .selected from .nav-item
		{{- end -}}">

		<title>{{.DisplayName}}</title>
		<link rel="icon" href="{{.IconURL}}"/>

		<!-- oEmbed: https://oembed.com -->
		<link rel="alternate" type="application/json+oembed" href="{{.OEmbedJSON}}">
		<link rel="alternate" type="text/xml+oembed" href="{{.OEmbedXML}}">
			
		<!-- ActivityPub links -->
		<link rel="http://webfinger.net/rel/profile-page" href="{{.ProfileURL}}"/>
		<link rel="http://ostatus.org/schema/1.0/subscribe" href="{{.Host}}/.ostatus/tunnel?uri={uri}">
		<link rel="self" type="application/activity+json" href="{{.ActivityPubURL}}"/>

		<!-- RSS and WebSub Links -->
		<link rel="hub" href="{{.Host}}/@{{.UserID}}/websub"/>
		<link rel="alternate" type="application/rss+xml" href="{{.Host}}/@{{.UserID}}/feed?format=rss"/>
		<link rel="alternate" type="application/atom+xml" href="{{.Host}}/@{{.UserID}}/feed?format=atom"/>
		<link rel="alternate" type="application/feed+json" href="{{.Host}}/@{{.UserID}}/feed?format=json"/>
		<link rel="canonical" class="u-url" href="{{.ProfileURL}}">

		<!-- Open Graph: https://ogp.me -->
		<meta property="og:type" content="profile">
		<meta property="og:title" content="{{.DisplayName}}">
		<meta property="og:description" content="{{.StatusMessage}}">
		<meta property="og:url" content="{{.Permalink}}">
		<meta property="og:image" content="{{.IconURL}}">
		<meta property="profile:username" content="{{.Username}}">

		<!--
		{{- if not .IsPublic -}}
			<div hx-get="/@{{.UserID}}/publish" class="clickable alert-green margin-none" role="button">
				{{icon "check-circle"}} 
				Your profile IS READY TO PUBLISH on the social web.
				<span class="text-underline">Click here to publish it now</span>
			</div>
		{{- end -}}
		-->

		{{- template "header" . -}}

		<div class="pos-relative">

			<!-- Author Name -->
			<div class="padding md:flex-row flex-align-center margin-top">
				<div class="md:flex-align-self-start margin-horizontal-auto align-center">
					<img id="profile-icon" src="{{.IconURL}}" class="circle width-30% sm:width:20% md:width-64" aria-hidden="true">
				</div>
				<div class="flex-grow">
					<h1 id="profile-name" class="text-lg bold margin-none align-center md:align-left">{{.DisplayName}}</h1>

					<div class="margin-vertical sm:margin-none align-center md:align-left">
						<span id="profile-username" class="text-gray margin-right-sm margin-bottom-sm nowrap" script="install SelectText">@{{.Username}}@{{.Hostname}}</span>
						{{- if ne "" .Location }}
							<span id="profile-location" class="text-gray nowrap"> {{icon "location"}} {{.Location}}</span>
						{{- end -}}
					</div>

					<div id="profile-links" class="margin-vertical pos-relative align-center md:align-left">
						{{- if $isMyself -}}
							<button hx-get="/@{{.UserID}}/links" class="text-xs">Edit Links</button>
						{{ end -}}

						{{- range  $index, $link := .Links }}
							<span aria-hidden="true">&middot;</span>
							<a href="{{$link.ProfileURL}}" rel="me" target="_blank">{{$link.Name}}</a>
						{{- end -}}

					</div>
				</div>
				<div class="margin-top-lg md:margin-none align-center md:align-left">

					<div class="nowrap" script="on load trigger storage on window">
						<div class="margin-none">

							{{- if $isMyself -}}
								<div class="pos-absolute-top-right flex-row">
									<button hx-get="/@me/edit" class="text-xs">Edit Profile</button>
									<button hx-post="/signout" class="text-xs">Sign Out</button>
								</div>
							{{- else -}}

								{{- if .IsAuthenticated -}}
									{{- $following := .AmFollowing .Permalink -}}
									{{- if $following.IsNew -}}
										<button hx-get="/@me/settings/following-edit?url={{.Permalink}}" class="primary">{{icon "fediverse"}} Follow for Updates</button>
									{{- else -}}
										<button hx-get="/@me/settings/following-edit?url={{.Permalink}}" class="primary">{{icon "check"}} Following</button>
									{{- end -}}
								{{- else -}}
									<button hx-get="/@{{.UserID}}/intent?intent=follow&object={{.Permalink}}" class="primary">{{icon "fediverse"}} Follow for Updates</button>
								{{- end -}}

								{{- if gt $circleCount 0 -}}
									<button hx-get="/@{{.UserID}}/checkout" class="outline margin-left-sm">
										{{icon "star"}}
										Subscribe
									</button>
								{{- end -}}

							{{- end -}}

						</div>
						{{- if not .IsAuthenticated -}}
							<div class="margin-top-sm text-xs text-light-gray">
								<span hx-get="/@{{.UserID}}/intent" class="clickable intentMarker-account">&nbsp;</span>
							</div>
						{{- end -}}
					</div>
				</div>
			</div>

			<div class="flex-row padding">
				<div class="flex-grow"></div>
				<div class="padding width-100%" style="max-width:800px;">

					<!-- About Me -->
					<div class="margin-bottom-xl">

						{{- if or $isMyself (ne "" .StatusMessage) -}}
							<div class="flex-row flex-align-center">
								<h3>About Me</h3>
								{{ if $isMyself -}}
									<button hx-get="/@{{.UserID}}/edit-status" class="text-xs">Edit</button>
								{{- end -}}
							</div>
							<div id="profile-status" class="margin-vertical text-gray">{{.StatusMessage | markdown}}</div>
						{{- end -}}

						{{- if or .Tags.NotEmpty $isMyself -}}
							<div class="flex-row flex-align-center">
								<h3>Hashtags</h3>
								{{ if $isMyself -}}
									<button hx-get="/@{{.UserID}}/links" class="text-xs">Edit</button>
								{{- end -}}
							</div>
							<div id="profile-tags">
								{{- range .Tags -}}
									<a href="/artists?q=%23{{.Name}}" role="link" class="tag">#{{.Name}}</a>
								{{- end -}}
							</div>
						{{- end -}}
					</div>

					<!-- Posts -->
					{{- $posts := .Outbox.ByPublishDate.Reverse.Slice -}}

					{{- if or $posts.NotEmpty $isMyself -}}

						<div class="table margin-bottom-xl">

							{{- if $posts.IsEmpty -}}
								<div class="link" hx-get="/@{{.UserID}}/add" role="button">
									<div class="text-lg bold">
										{{icon "add"}} Add Your First Post
									</div>
									<div class="text-gray">
										Share updates with your followers.
									</div>
								</div>

							{{- else -}}
								{{- if $isMyself -}}
									<div class="link" hx-get="/@{{.UserID}}/add" role="button">
										{{icon "add"}} Add Another Post
									</div>
								{{- end -}}

								{{- range $posts -}}
									{{- if or .IsPublished $isMyself -}}

										<div class="hover-trigger pos-relative hover-trigger clickable flex-column">
											<a href="/{{.StreamID}}" hx-boost="true" class="text-plain text-nocolor sm:flex-row width-100%">

												{{- if eq "" .IconURL -}}
													<div class="hover-swell hide sm:show rounded square width:100% sm:width-128 margin-right" style="background-color:var(--gray20);"></div>
												{{- else -}}
													<img src="{{.IconURL}}" alt="{{.Data.iconDescription}}" class="hover-swell rounded square width-100% sm:width-128 object-fit-cover margin-right" aria-hidden="true">
												{{- end -}}

												<div>
													<div class="text-lg bold margin-none padding-none ellipsis-block" style="max-height:3em;">{{.Label}}</div>
													<div class="padding-bottom text-gray">{{.PublishDate | shortDate }}</div>
													<div class="text-gray width-512">{{.Summary}}</div>
													<div class="bold link">{{first .Data.linkText "Read More"}} &rarr;</div>
												</div>

												{{- if not .IsPublished -}}
													<div class="pos-absolute-four-corners bg-stripes flex-center"></div>
												{{- end -}}
											</a>

											{{- if $isMyself -}}
												<button hx-get="/{{.StreamID}}/edit" class="hover-show pos-absolute-top-right text-xs">Edit</button>
											{{- end -}}
											
										</div>
									{{- end -}}
								{{- end -}}
							{{- end -}}
						</div>

					{{- end -}}

					{{- if and $isMyself $posts.IsEmpty -}}
						<div class="text-gray text-sm">
							Publish updates to your followers.  Featured items appear here.
						</div>
					{{- end -}}
				</div>		
				<div class="flex-grow"></div>
			</div>	
				
		</div>

	</div>

	{{- if $isMyself -}}
		<div id="outbox-refresh-{{.UserID}}" hx-preserve>

			<div 
				hx-get="/@{{.UserID}}" 
				hx-trigger="refreshPage from:window" 
				hx-target="#main" 
				hx-swap="innerHTML"
				hx-push-url="false">
			</div>

			<div hx-ext="sse" sse-connect="/@{{.UserID}}/sse">
				<div 
					hx-get="/@{{.UserID}}" 
					hx-trigger="sse:{{.UserID}}"  
					hx-target="#main" 
					hx-swap="innerHTML"
					hx-push-url="false">
				</div>
			</div>

		</div>
	{{- end -}}

{{- else if not $isMyself -}}
	{{- template "coming-soon" . -}}
{{- else if eq .StateID "WIZARD-STEP-3" -}}
	{{- template "wizard-3" . -}}
{{- else if eq .StateID "WIZARD-STEP-2" -}}
	{{- template "wizard-2" . -}}
{{- else  -}}
	{{- template "wizard-1" . -}}
{{- end -}}