<link rel="stylesheet" href="/.templates/qwerty-article/stylesheet">

<div class="page padding-none h-entry">

	<div id="menu-bar" class="padding-sm margin-none">
		<div class="left">
			<a href="/{{.StreamID}}">&larr; Back</a>
			<a hx-get="/{{.StreamID}}/properties">Info</a>

			{{- if .Products.NotEmpty -}}
				<a hx-get="/{{.StreamID}}/sharing">{{icon "lock-fill"}} Restricted</a>
			{{- else -}}
				<a hx-get="/{{.StreamID}}/sharing">{{icon "globe"}} Public</a>
			{{- end -}}

		</div>

		<div class="right">
			{{- if eq .StateID "published" -}}
				<button hx-on:click="save()" class="button primary">Save Changes</button>
				<button hx-get="/{{.StreamID}}/unpublish" class="button">✓ Published</button>
			{{- else -}}
				<button hx-on:click="publish()" class="button primary">Publish</button>
				<button hx-on:click="save()" class="button">Save Draft</button>
			{{- end -}}

			{{- if .UserCan "delete" -}}
				<a hx-get="/{{.StreamID}}/delete" class="text-red">Delete</a>
			{{- end -}}
		</div>
	</div>

	{{- template "edit-banner" . -}}

	<div class="pos-relative">
		<article id="article" class="margin-bottom">
			{{- template "head-summary" . -}}
			<hr>
			{{- template "edit-content" . -}}
		</article>
	</div>

	<div 
		hx-get="/{{.StreamID}}/edit"
		hx-trigger="refreshPage from:window"
		hx-target="main"
		hx-swap="innerHTML"
		hx-push-url="false">
	</div>

</div>